<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("aa5f5aaa-7cdb-4eb1-a1fa-8ad186c48fee");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
